*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;	
  	text-align: left;
  	background: #fff;
  	background-size: cover;
  	font-family: Helvetica, Arial, sans-serif;
  	line-height: 1.3;
  	padding-left: 2em;
}

header {
	padding: 2em 0 0 0;
}

main {
	min-height: calc(100vh - 459px);
}
/*this is header and footer added together, vh is view height. it keeps the footer at the bottom.*/

.logo { 
	font-family: 'Helvetica', 'Arial', sans-serif;
	text-transform: none;
	letter-spacing: 2px;
	color: #186A89;
	font-size: 3em; 
}

.tagline {
	color: #f87744;
	margin-top: 4em;
	padding-left: 2.5em;
	padding-bottom: 2em;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: .7em;
}

h1 {
	color: #00BDA2;
}


a {
	color: #186a89;
	text-decoration: none;
	
}

a span {
	display: block;
	padding-left: .5em;
}

nav {
	padding-left: 2em;
	/*text-align: center;*/
}

 /*LoVe HAte a:link means unvisited links. like blue ones, in Google, for example. (purple = already visited)*/
nav a:link {
	color: #186A89;
	text-transform: uppercase;
	letter-spacing: .125em;
	font-weight: 800;
	float: left;
	border: none;
	font-size: .75em;
	display: block;
	margin-top: 1em;
	padding: 1em 1em 1em 0em;
}

nav a:visited {

}

nav a:hover {
	color: #f87744;
}

nav a:active {

}

img {
	width: 100%;
	border:1px solid #186A89;
}

img:#sm_panel_hor {
	width: 175%;
}

figure img {
	max-width: 734px;
	display: block;
	margin-left: .75em;
}

figcaption {	
	padding: 1em 0 .5em 1em;
	line-height: 1.75;
	color: #186A89;
	font-size: .75em;
}

#sm_panel_hor {
	max-width: 1431px;
	display: block;
	margin-left: .75em;
}

#sm_panel_ver {
	max-width: 1144px;
	display: block;
	margin-left: .75em;
}

#sm_panel_sq {
	max-width: 1631px;
	display: block;
	margin-left: .75em;
}

#med_panel_ver {
	max-width: 1631px;
	display: block;
	margin-left: .75em;
}

#med_panel_hor {
	max-width: 2169px;
	display: block;
	margin-left: .75em;
}

#lg_panel_hor {
	max-width: 3254px;
	display: block;
	margin-left: .75em;
}

#med_panel_sq {
	max-width: 2669px;
	display: block;
	margin-left: .75em;
}

.clearfix:after {
	height:0;
	font-size:0;
	visibility:hidden;
	display:block;
	content:" ";
	clear:both;
}


hr {
  width: 100%;
  border: none;
}

.wrapper {
	width: 95%;
	margin: auto;
}

#mobile{
	display: none;
	font-size: 1.5em;
}

i {
	font-style: italic;
}

/*#mailto { 
	color: #000;
}*/

p {
  font-size: 1em;
  line-height: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  color: #422418;
}

ul {
  color: #000;	
  list-style-type: none;
  padding: 2em;
}

h2, h3 {
  padding-left: 2em;
  color: #000;
  font-size: 1em;
}

h4 {
	color: #6CC9DB;
	display: inline;
	padding-left: 1.75em;	
}

footer {
	clear: both;
	font-size: .6em;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
	background-color: #186A89;
	padding: 3em 3em 2em 0;
}

/*#chevron { 
	color: #fff;
	display: inline;
}*/

.clearfix:footer {
	align: left;
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.bio {
	max-width: 200px;
}

.bio img {
	border: 0;
}

@media screen and (min-width: 1900px){
	body {
		font-size: 24px;
	}
	#wrapper{
		width: 1805px;
	}
}

@media screen and (max-width: 1190px){

	.bio {
	width: 25%;
	padding-top: 2em;
	padding-left: 2em;
	}
}

@media screen and (max-width: 768px){
 	
 	.logo {
 		text-align: center;
 	}
 	nav a {
 		float: none;
 		width: auto;
 		padding: .25em 0;
 		display: none;
 	}

 	.tagline {
 		text-align: center;
 		float: none;
 	}

 	#mobile {
 		display: block;
 	}
 	nav:hover a {
 		display:block;
 	}

 	.bio {
 		width: 25%;/*
    	display: block;
    	margin-left: auto;
    	margin-right: auto;
    	height: auto;
    	padding-top: 10px;*/
 	}
}

@media screen and (max-width: 645px){

footer {
		float: none;
		padding-left: 1.75em;	
	}
}
/* @media screen and (max-width: 584px){
	span {
		
	}

}
*/

/* mobile */

@media screen and (max-width: 568px){
	
footer {
		float: none;
}

	.bio {
		width: 139px;
		float: none;
		text-align: center;
		padding-top: 2em;
		padding-left: 2em;
	}
}
