*{
	padding: 0;
	margin: 0;
}

body {
  text-align: left;
  background: url("../images/september_sky.jpg");
  background-size: cover;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3;
}

header{
	background-color: #fff;
	padding: 20px;
	font-size: 20px;
}

h1{
	color: #00BDA2;
}

#slogan {
	color: #00BDA2;
}

a{
	color: #6CFFFF;
	text-decoration: none;
}

nav a{
	color: #222222;
	font-weight: 800;
	margin-right: 10px;
}

hr{
  width: 180px;
}

p {
  font-size: 22px;
  padding-left: 40px;
  padding-right: 40px;
}

ul {
  list-style-type: none;
  padding: 20px;
}

h2, h3{
margin: 20px;
}

footer{
background-color: #fff;
color: #4A1800;
font-size: 8px;
padding: 20px;
text-align: left;
}